* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: rgb(167, 107, 245);
  overflow-x: hidden;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 200px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
}

#triangle1 {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 0 100px 100px;
  border-color: transparent transparent transparent #00ffff;
  transform-origin: right center;
  animation: rotateA 2s linear infinite 0.5s;
}

#triangle2 {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100px 100px 100px;
  border-color: transparent transparent #00ffff transparent;
  bottom: 0;
  transform-origin: center top;
  animation: rotateB 2s linear infinite;
  transform: rotate(90deg);
}

@keyframes rotateA {

  0%,
  25% {
    transform: rotate(0deg);
  }

  50%,
  75% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateB {

  0%,
  25% {
    transform: rotate(90deg);
  }

  50%,
  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(450deg);
  }
}
