* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 90vw;
  border: 3px solid #000;
  border-radius: 4px;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 20px;
  margin-bottom: 18px;
}

p {
  text-align: center;
  color: #333;
  margin-bottom: 36px;
}

.numbers {
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
}

input {
  border: 1px solid rgb(55, 8, 167);
  font-size: 40px;
  text-align: center;
  border-radius: 4px;
  width: 70px;
  height: 100px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}